// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hero1 {
	position: absolute;
	font-size: 4.0rem;
	padding: 5% 10% 20% 40%;
}

#hero2 {
	font-size: 6.1rem;
	color: #FFF;
	padding: 10% 5%;
}

.user-information {
  float: right;
}
